.button-trigger__ewc-class {
  border-radius: 50%;
  height: 3.125rem;
  width: 3.125rem;
  position: absolute;
  bottom: 0.7rem;
  right: 1.25rem;
  border: 0.125rem solid $gray-10;
  box-shadow: 0rem 0.125rem 0.3125rem 0.125rem rgba(0, 0, 0, 0.185);
  &:hover {
    box-shadow: 0rem 0rem 0.3125rem 0.0625rem $main;
    cursor: pointer;
  }
  .trigger-avatar__ewc-class {
    overflow: hidden;
    transition: all 0.3s ease;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: $main;
  }
  overflow: hidden;
}
