// BACKGROUND COLORS:

// purple
$main: #6d5cae;
$main-hover: rgba($main, 0.85);

// gray
$gray-1: #2a2a2a;
$gray-2: #454545;
$gray-3: #5c5c5c;
$gray-4: #707070;
$gray-5: #878787;
$gray-6: #b2b2b2;
$gray-7: #c4c4c4;
$gray-8: #dcdcdc;
$gray-9: #f5f5f5;
$gray-10: #ffffff;

//orange
$orange-1: #e6476f;
$orange-2: #fa5f5f;
$orange-3: #eb502a;
$orange-4: #ff6641;
$orange-5: #f78f28;
